.filter{
    position:fixed;
    padding:1rem;
    width: inherit;
    max-width:inherit;
    border-right: 1px solid #ccc;
    height:100vh;
}
.divider{
    margin-top:2rem;
    padding:1rem 0;
    font-size: 1rem;
    font-weight: 500;
}

.filterBox{
    margin-left:15%;
}
