.productName{
    margin-top:1rem;
    text-align: center;
    font-size: 2rem;
    font-weight:600;
}

.productPrice{
    text-align: center;
    padding-bottom:1rem;
    font-size:1.5rem;
    font-weight:550;
    margin-bottom:1rem;
    border-bottom:1px solid black;
}

.relatedProducts{
    margin: 1rem 0;
}

.related{
    display:flex;
    justify-content: center;
}

.comments{
    margin-top:2rem;
}

.commentDesc{
    height:10rem;
}

.productInformation{
    align-items: center;
}

.commentHeadline{
    text-align: center;
    font-size:2rem;
    font-weight:550;
    padding:2rem;
    padding-top:5rem;
    margin-top:1rem;
    border-top:1px solid black;
    border-bottom:1px solid black;
}


.selfCarousel ol{
    height: 2rem;

}

.selfCarousel ol li{
    background-color: grey;
    
}

.selfCarousel a{
    background-color: grey;
    width: 5rem;
    height: 5rem;
    top: 50%
}

.selfCarousel{
    width: 100%!important;
    height: 50rem!important;
   
    text-align: center!important;
}

.selfCarousel img{
    object-fit: contain !important;
}