input{
    height:30px;
    font-size:18pt ;
}
div{
     /* background-image: url(LoginPageBackground.jpg);  */
}
label{
    color: black;
}
.divider{
    width:50px;
    height:auto;
    display:inline-block;
}
button{
    padding: 10px 20px;
    font-size: 16px ;
    /* margin-left :5px; */

}
.container{

}